<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta charset="utf-8" />
        <meta name="Borja Martín" content="Axpe Consulting" /> 
        <!-- add styles -->
        <link href="../css/main.css" rel="stylesheet" type="text/css" />
    </head>
	
	<title>Blog de Axpe</title>
	<body>
		<h1>Axpe Consulting</h1>
		Hola mundo!
	</body>
</html>
